body {
  background-color: #F47E7C
}

h2, h4 {
  font-family: 'Oi', cursive;
}

button {
  border-color: #222323;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.container { 
  text-align: center;
}

.banner {
  display: grid;
  margin-top: 20px;
  border: 2px solid;
  background-image: url("https://media.giphy.com/media/54YfNuR468yreuR3Ze/source.gif");
  /*https://media.giphy.com/media/54YfNuR468yreuR3Ze/source.gif*/
  background-position:  middle;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  align-items: center;
}

.content {
  margin-top: 50px;
}

.card {
  border: 2px solid;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 299px;
}

.btn {
  margin-top: 20px;
}

.description {
  text-align: center;
  margin-top: 30px;
  width: 701px;
  border: 2px solid;
}

#description {
  display: grid;
  justify-content: center;
}